<h2>{{hero.name | uppercase}} Detalhes</h2>
<div><span>id: </span>{{hero.id}}</div>
<div><span>Nome: </span>{{hero.name}}</div>
<div>
  <label>name:
    <input [(ngModel)]="hero.name" placeholder="name"/>
  </label>
</div>
